/* Header Styling */
header {
    background-color: #BFD28E;
    padding: 15px 0;
    width: 100%;
    position: relative;
    z-index: 1000;
}

/* Adjust container for different screen sizes */
.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Logo Section */
.logo-section {
    justify-content: flex-end; /* Ensures it is pushed to the far right */
    flex-grow: 1;
    display: flex;
    align-items: center;
}

/* Logo Styling */
.header-logo {
    max-width: 150px;
    height: auto;
}

.header-logo-center {
    width: 450px;
    height: auto;
}

/* Navigation Links Styling */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align links to the left */
}

nav ul li {
    margin-right: 20px;
}

.nav-link {
    color: #056839;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 8px 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 18px;
}

.nav-link:hover {
    background-color: #7ae992;
    border-radius: 20px;
    color: #1B7019;
}

.nav-link.active {
    color: white;
    background-color: #1B7019;
    border-radius: 20px;
}

/* Button Styling */
.btn-success {
    background-color: #1B7019;
    border-color: #056839;
    padding: 10px;
    font-size: 18px;
    width: 153px;
    height: 52px;
}

/* Responsive Styling */
@media (max-width: 1200px) {
    nav ul {
        justify-content: center;
    }

    .nav-link {
        font-size: 1rem;
        padding: 5px 10px;
    }
}

@media (max-width: 992px) {
    /* Adjust logo and button size for smaller screens */
    .header-logo {
        max-width: 100px;
    }

    .header-logo-center {
        width: 250px;
    }

    nav ul {
        flex-wrap: wrap;
    }

    .nav-link {
        font-size: 0.9rem;
        padding: 6px 8px;
    }

    .btn-success {
        font-size: 0.875rem;
        padding: 8px 12px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .btn-success {
        margin-top: 10px;
        font-size: 0.875rem;
        width: auto;
    }

    nav ul {
        flex-direction: column;
    }

    .nav-link {
        font-size: 0.875rem;
        padding: 6px 8px;
    }
}
