
.card {
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.pred_h1 {
    font-size: 2rem;
    color: #1B7019;
}

.area-results {
    height: 150px;
    resize: none;
}
